/* Palette URL: http://paletton.com/#uid=54W0I0kaVz84jP27qHbeJtFiHpX */

:root {
    --primary-col:   #282c33;
    --secondary-col: #8893ad;

    --accent-col: #b1b9cc;
}

/*
.color-primary-0 { color: #AE73AE }
.color-primary-1 { color: #DEC0DE }
.color-primary-2 { color: #C89AC8 }
.color-primary-3 { color: #9A539A }
.color-primary-4 { color: #863886 }

.color-secondary-1-0 { color: #FFA8A8 }
.color-secondary-1-1 { color: #FFDDDD }
.color-secondary-1-2 { color: #FFC4C4 }
.color-secondary-1-3 { color: #EC8080 }
.color-secondary-1-4 { color: #CF5656 }

.color-secondary-2-0 { color: #8D80B7 }
.color-secondary-2-1 { color: #CDC7E1 }
.color-secondary-2-2 { color: #AEA4CE }
.color-secondary-2-3 { color: #7060A3 }
.color-secondary-2-4 { color: #56458E }
/*
