@import url("/style/colors.css");

body {
    background-color: var(--primary-col);
    font-family: 'Roboto', sans-serif;
}

#header {
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;

    border-color:     var(--accent-col);
    background-color: var(--secondary-col);
}

#header a {
    padding: 10px 25px 10px;
}

#footer {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 2px;

    border-color:     var(--accent-col);
    background-color: var(--secondary-col);
}

.centered {
    width: 60%;
    margin: auto;
}

#content img {
    width: 300px;
    height: 300px;
    float:left;
    overflow: auto;

    border:        2px solid var(--accent-col);
    border-radius: 2px;
}

#content {
    overflow: hidden;
    width: 57%;

    margin: 5px auto 5px auto;
}

#content p,h1 {
    padding: 0px 0px 0px 10px;
    color: var(--accent-col);
}

#about {
    padding: 0px 0px 0px 20px;
    width: 100%;
}

#about-me {
    font-weight: lighter;
    font-size: 1.2em;
}
